// Functional color variables

$color-text-dark: #545454;
$color-text-light: #f1f3f3;
$color-text-gray: #b3bcb8;

$color-bg-body: #1e2e35;
$color-bg-header: #f1f3f3;
$color-bg-search: #dde1df;
$color-bg-button: #6fa938;

$color-border: #a9386f;

$color-btn: #a8d57b;
$color-btn-hover: #415847;

// Font stacks

$stack-montserrat: 'Montserrat', sans-serif;

// Lightbox nav height

$lg-nav-height: 30px;

// Margin and padding

$edge-sm: 15px;
$edge-med: 20px;
$edge-lg: 25px;

// Media query breakpoints

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;